extends main

append messages
  - console.log('messages')
  .grid-33
    .app--section
      ul.app--message--list
        li
          h3 Conversation with
            a= ' ' + profile.messages.friend.name
          ul.app--message--conversation
            each message in profile.messages.conversation
              if message.source === 'me'
                li.app--message--me
                  .app--avatar(style=`background-image: url(${profile.self.profile_image_url})`)
                    img(src=profile.self.profile_image_url)
                  p.app--message--text= message.text
                  p.app--message--timestamp= message.timestamp
              else
                li.app--message
                  .app--avatar(style=`background-image: url(${profile.messages.friend.profile_image_url})`)
                    img(src=profile.messages.friend.profile_image_url)
                  p.app--message--text= message.text
                  p.app--message--timestamp= message.timestamp
